/* Nav */
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
nav div:first-of-type {
    display: flex;
    align-self: center;
    flex-basis: 60%;
    flex-shrink: 1;
}
@media all and (max-width: 1100px){
    nav div:first-of-type {
        flex-basis: 90%;
        margin: 0 auto;
    }
}
.logo {
    color: #cc9543;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.6em;
    display: inline-block;
    padding-left: 0.5em;
}
nav .ul-inline {
    display: flex;
}
@media all and (max-width: 1100px){
    nav .ul-inline {
        display: none;
    }
}
nav .ul-inline-li, a {
    color: grey;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.hero h2 {
    color: #ce973e;
    margin: 2rem 0;
}
.hero h5 {
    color: rgba(74,74,74,0.7);
    margin-bottom: 4rem;
}
.hero button {
    background-color: #6abfc3;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 3rem 0;
}

/* Bio */
.bio .main {
    margin: 2rem auto 2rem auto;
    max-width: 600px;
    float: none !important;
    line-height: 2rem;
    color: rgba(74,74,74,0.7);
}
.bio h5 {
    color: #4a4a4a;
    margin: 2rem 0;
}
.bio article p{
    color: rgba(74,74,74,0.7);
    line-height: 2rem;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1100px;
}
.grid img {
    max-height: 120px;
}

/* Languages section */
.lang-learned {
    background-color: #f3f3f3;
}
.lang-learned header h5 {
    padding: 4rem 0;
    color: #4a4a4a;
}
.lang-learned div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 950px;
}
.lang-learned article {
    padding: 1rem 3rem;
    margin: 1rem 0.5rem;
}
@media all and (max-width: 700px){
    .lang-learned article {
        padding: 2rem 5rem;
    }
}
.lang-learned article h5 {
    color: #4a4a4a;
}
.lang-learned article figure img {
    height: 200px;
    width: 200px;
    margin-bottom: 2rem;
}
.started {
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    background-color: #cc9543;
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    margin: 3rem 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

/* Stories */
.stories {
    background-image: linear-gradient(to bottom, #fff, #eee);
}
.stories .stories-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.stories article {
    flex-flow: row!important;
    margin-bottom: 4rem;
    padding: 0 4rem;
}
@media all and (max-width: 1200px) {
    .stories article {
        padding: 0;
    }
}
.stories [class*=col-] {
    background: none!important;
}
.stories h5 {
    margin: 6rem 0;
}
.stories h4 {
    margin: 2rem 0;
    color: rgba(74,74,74,0.7);
}
.stories article h6 {
    color: #ce973e;
    margin-bottom: 0.75rem;
}
.stories article p {
    color: rgba(74,74,74,0.7);
}
.stories img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 1.5rem;
}
.stories button {
    background-color: #6abfc3;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 3rem 0;
}